<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ian.practice.db.mapper.PriceFactorMapper">
    <resultMap id="BaseResultMap" type="com.ian.practice.db.entity.PriceFactor">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="formula" jdbcType="VARCHAR" property="formula"/>
        <result column="parameter" jdbcType="VARCHAR" property="parameter"/>
        <result column="unit_id" jdbcType="BIGINT" property="unitId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="invalid_reason" jdbcType="VARCHAR" property="invalidReason"/>
        <result column="power" jdbcType="TINYINT" property="power"/>
        <result column="subordinate_departmentId" jdbcType="BIGINT" property="subordinateDepartmentid"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
</mapper>