<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ian.practice.db.mapper.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.ian.practice.db.entity.SysMenu">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="router_url" jdbcType="VARCHAR" property="routerUrl"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
    </resultMap>
</mapper>